<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="navbar-item" href="https://andaluh.es/">
      <img src="./assets/imgs/andalugeeks_white.png" />
    </a>
    
    <a role="button" class="navbar-burger burger" (click)="toggleNav()" [class.is-active]="isActive" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

  </div>

  <div class="navbar-menu" [class.is-active]="isActive">
    <div class="navbar-end">
        <a class="navbar-item">
          <span *ngIf="currentLang === 'es'" (click)="langTo('and')">(AND)</span>
          <span *ngIf="currentLang === 'and'" (click)="langTo('es')">(ES)</span>
        </a>

        <a href="https://andaluhepa.files.wordpress.com/2018/06/propuesta-de-ortografc3ada-andaluza-epa-actualizada-13-06-18-docx.pdf" target="_blank" class="navbar-item">
          {{ 'MENU.EPA' | translate }}
        </a>
    </div>
  </div>
</nav>

<div class="overlay" (click)="toggleNav()" *ngIf="isActive"></div>